<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework"
       type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DatabaseInitializerForType ImportCsv2DatabaseConsole.StoreContext, ImportCsv2DatabaseConsole"
            value="ImportCsv2DatabaseConsole.StoreDbInitializer, ImportCsv2DatabaseConsole" />
  </appSettings>
  <connectionStrings>
    <add name="StoreContext" connectionString="Server=.;Database=testStore;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
